* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem;
}

.book-container {
    display: grid;
    border: 1px black solid;
    width: 20rem;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 2fr;
    gap: 1rem;
    padding: 1rem;
}

.container-title {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    margin: 1rem;
    border: 1px black solid;
}

.book {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-options {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.sidebar {
    width: 10rem;
    border: 1px black solid;
    padding: 1rem;
    height: 100%;
}

.sidebar input {
    width: 100%;
}

.sidebar div {
    text-align: center;
}

.sidebar button {
    padding: 0.5rem;
}

.sidebar form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.delete-button {
    
}